<footer
  class="bottom-0 left-0 z-20 p-4 w-full bg-white border-t md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm sm:text-center">
      © 2022 FoxFood™. All rights reserved.
    </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm sm:mt-0">
    <li>
      <a class="mr-2 hover:opacity-40" routerLink="find">Find Us</a>
    </li>
    <li>
      <p class="mr-2 ">|</p>
    </li>
    <li>
      <a class="mr-2 hover:opacity-40 " routerLink="legal">Legal</a>
    </li>
    <li>
      <p class="mr-2 ">|</p>
    </li>
    <li>
      <a class="mr-2 hover:opacity-40" routerLink="private">Privacy</a>
    </li>
  </ul>
</footer>
