<section class="w-full py-24 animated animatedFadeInUp fadeInUp">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto lg:my-0 flex flex-col justify-center">
      <h1 class="text-5xl font-bold text-orange-custom flex justify-center mb-6">About Us</h1>
      <div class="flex justify-center pt-3">
        <div class="inline-flex items-center mb-2">
          <p class="text-md font-sans max-w-sm">
            Lorem ipsum dolor sit amet. Ut animi magni rem modi nulla aut nesciunt velit sed pariatur consectetur rem
            iusto earum ut
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <div class="border border-gray-500 px-6 rounded h-24">

        </div>

        <div class="border border-gray-500 px-6 rounded h-24">

        </div>

      </div>
    </div>
  </div>
</section>
