<section class="w-full py-24">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto lg:my-0 flex flex-col justify-center">
      <h1 class="text-5xl font-bold text-orange-custom flex justify-center mb-6">{{ this.offer.name }}</h1>
      <div class="flex justify-center pt-3">
        <div class="inline-flex items-center mb-2">
          <p class="text-md font-sans max-w-sm">
            Lorem ipsum dolor sit amet. Ut animi magni rem modi nulla aut nesciunt velit sed pariatur consectetur rem
            iusto earum ut
          </p>
        </div>
      </div>

    </div>

    <div
      class="px-6 h-80 flex flex-col justify-center items-center mt-6">
      <img width="400" class="rounded-3xl border-2 border-black" src="{{ this.offer.image }}" alt="">
    </div>
    <div class="max-w-4xl mx-auto lg:my-0 flex flex-col justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <div class="bg-gray-200 px-6 rounded-xl h-80">
          <h1 class="text-center text-orange-custom font-medium text-xl mt-4">Ingredients</h1>
          <ul class="list-disc flex flex-col items-center justify-center mt-8">
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
          </ul>
        </div>

        <div class="bg-gray-200 px-6 rounded-xl h-80">
          <h1 class="text-center text-orange-custom font-medium text-xl mt-4">Price comparison</h1>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
            <div class="flex flex-col justify-center">
              <img width="100" src="assets/img/carrefour.webp" alt="Market Logo">
              <ul *ngIf="this.offer.name === 'Turkye Rice'"
                class="list-disc flex flex-col justify-center mt-8">
                <li>Riz: 1,09€ (0,81€/kg)</li>
                <li>Turkye: 3,33€ (10,47€/kg)</li>
              </ul>
            </div>
            <div class="flex flex-col justify-center">
              <img width="100"  src="assets/img/intermarche.webp" alt="Market Logo">
              <ul *ngIf="this.offer.name === 'Turkye Rice'"
                class="list-disc flex flex-col justify-center mt-8">
                <li>Rice: 1,06€ (1,15€/kg)</li>
                <li>Turkye: 4,39€ (11,39€/kg)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
